body {
    font-family: Verdana;
    background-color: rgb(43, 42, 51);
}

label {
    font-size: 20px;
    margin-left: 25px;
    margin-right: 5px;
    color: white;
}

#everyContribution {
    margin-left: 10px;
    margin-right: 10px;
}

button {
    font-family: Verdana;
    font-size: 15px;
    margin-left: 20px;
    background-color: rgb(146, 255, 170);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;

}

button:hover {
    background-color: rgb(131, 226, 152);
}

#barChart {
    width: 100%;
    height: 100%;
    max-width: 900px;
    max-height: 900px;
    margin-left: auto;
    margin-right: auto;
}

table {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border: 2px solid gray;
    border-radius: 8px;

}

th, td {
    padding: 16px;
    border-left:solid gray 1px;
    border-top:solid gray 1px;
}

table, th, td {
    color: white;
}

th {
    background-color: rgb(59, 75, 59);
    border-top: none;
}

td:first-child, th:first-child {
     border-left: none;
}