body {
    font-family: Verdana;
    background-color: rgb(43, 42, 51);
}

label {
    font-size: 20px;
    margin-left: 20px;
    color:rgb(255, 255, 255)
}

button {
    font-family: Verdana;
    font-size: 15px;
    margin-left: 20px;
    background-color: rgb(146, 255, 170);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;

}

button:hover {
    background-color: rgb(131, 226, 152);
}

#barChart {
    width: 100%;
    max-width: 900px
}